.app_footer {
    position: fixed;
    height: 50px;
    bottom: 10px;
    left: 0px;
    width: 100vw;
    margin-bottom: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    p {
      text-align: center;
      margin-top: 10px;
      color: #fff;
    }
}