<div class="page home_main">
  <h2 class="page_title">Welcome!</h2>
  <img class="hbot_img" src="../../../assets/hbo_chambers.jpg" alt="Hyperbaric oxygen image">
  <p>This is the Hyperbaric Oxygen Therapy (HBOT) app.  This app is intended for use by healthcare professionals
    who treat patients using hyperbaric oxygen, particularly in the wound care setting. Use the navigation at the 
    top of the screen to help you with things like:
  </p>
  <ul class="app_functions_list">
    <li>Determining HBO eligibility based on condition</li>
    <li>Determine number of treatments for the patient, at what atmospheric pressure</li>
    <li>Run through a pre-HBO checklist</li>
    <li>Review Contraindications of HBO</li>
  </ul>
</div>