.app_header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 7%;
  min-width: 100vw;
  display: flex;
  justify-content: space-between;
  color: #fff;
  z-index: 2;
}

mat-icon {
  font-size: 2rem;
}