.page_title {
  text-align: center; 
}

.condition_list {
  margin-bottom: 100px;
}

.collapse_btn_div {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.collapse_btn {
  background-color: #673ab6;
  color: #fff;
}

mat-list-item {
  margin-bottom: 30px;
}

.condition_details {
  padding: 30px;
}

.condition_subheading {
  text-align: center;
}

.ata_container {
  margin-bottom: 30px;
}