.eligibility_menu_list {
  margin-bottom: 100px;
}

mat-list-item {
  margin-bottom: 30px;
}

.determine_wagner_btn {
  background-color: #673ab6;
  color: #fff;
}

.collapse_btn_div {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.collapse_btn {
  background-color: #673ab6;
  color: #fff;
}



