<div class="eligibility_menu_list">
  <mat-nav-list *ngFor="let indication of hbo_indications">
    <mat-list-item class="my-theme" (click)="toggleCollapsed(indication)">
      <app-listtile [title]="indication.title"></app-listtile>
    </mat-list-item>
    <section class="eligibility_details" *ngIf="!indication.isCollapsed">
      <app-eligibility-detail [elig_criteria]="indication.elig_criteria" [std_wound_care]="indication.standard_wound_care"></app-eligibility-detail>
    </section>
  </mat-nav-list>
</div>
