/* You can add global styles to this file, and also import other style files */
$primary-dark-color: #993300;
$primary-font-family: "Arial";
$primary-text-color: white;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $primary-dark-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
  font-family: $primary-font-family;
  color: $primary-text-color;
}