$hbo-theme-primary: mat-palette($mat-deep-purple);
$hbo-theme-accent: mat-palette($mat-amber);
$hbo-theme-warn: mat-palette($mat-red);

$hbo-theme: mat-light-theme(
  $hbo-theme-primary,
  $hbo-theme-accent,
  $hbo-theme-warn
);
