.checklist_page {
  margin: 10px 10%;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  background-color: #673ab6 !important;
  // color: black !important;
}

.clear_checklist_btn_div {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.clear_checklist_btn {
  background-color: #673ab6 !important;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .page {
    margin: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .checklist_heading {
    font-size: 1.5rem;
  }

  .checklist_subheading, a {
    font-size: 1.2rem;
  }

  .list_subheading {
    margin-bottom: 15px;
  }
}