.checklist_page {
  margin: 10px 10%;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  background-color: #673ab6 !important;
  // color: black !important;
}

.clear_checklist_btn_div {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.clear_checklist_btn {
  background-color: #673ab6 !important;
  color: #fff;
}